@font-face{
    font-family: 'IBMPlexSansKR-Regular';
    src: url("../../public/font/IBMPlexSansKR-Regular.ttf") format("truetype");
}

.dashboard-container {
  font-family: 'IBMPlexSansKR-Regular';
  background-color: #fdf6e3;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.dashboard-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.dashboard-section {
  margin-bottom: 20px;
  flex: 1;
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}


.dashboard-label {
  font-weight: 500;
  color: #555;
}

.dashboard-value {
  font-weight: 600;
}

.highlight {
  color: #d35400;
}

.dashboard-subtitle {
  font-weight: 600;
  margin-bottom: 6px;
  border-left: 4px solid #f39c12;
  padding-left: 8px;
  font-size: 24px;
}

.dashboard-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 12px;
  font-size: 16px;
  color: #444;
  gap:2px;
}

.dashboardsection-container{
  display: flex;
  gap: 15px;
}
