@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('../../public/font/IBMPlexSansKR-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('../../public/font/IBMPlexSansKR-Medium.ttf') format('truetype');
}
  
@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('../../public/font/IBMPlexSansKR-Bold.ttf') format('truetype');
}

/*
body {
    overflow-x: hidden; /* 가로 스크롤 방지 */
    /*margin: 0;
    padding: 0;
}
*/

.Home .Recommendation-container {
    width: 100%;
    max-width: 1230px;
    margin-left: 25px;
}
.Home{
    display: flex;
    flex-direction: column;
}

/*Home*/
/*HomeAfterInput*/
.Home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  margin-top: -1    0px;
  width: 100%;
  gap: 30px;
  min-width: 765px;
}

.Home-section{
    display: flex;
    width: 100%; /* 전체 너비 사용 */
    max-width: 680px; /* 최대 너비 제한 */
    gap: 30px;
    justify-content: center; /* 섹션 내부 요소들 중앙 정렬 */
}

.Home-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.Home-right {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px ;
}

.Home-bottom{
    display: flex;
    width: 100%;
    max-width: 1290px; /* 최대 너비 제한 */
    gap: 30px;
    margin: 0 auto;
    /*margin-left: 2%;*/
    padding-bottom: 8px;
}

/*UserInfoCard*/
.UserInfoCard-container {
    display: flex;
    width: 100%;
    max-width: 490px;
    height: auto;
    padding: 30px;
    flex-direction: column;
    border-radius: 16px;
    background-color: #FFFBDE;
    box-shadow: 
        -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset,
        2px 2px 4px 0px rgba(0,0,0,0.25) inset;
}

.UserInfoCard-section-first {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

.UserInfoCard-section-second {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
}

.UserInfoCard-section-second-detail {
    display: flex;
    align-items: baseline;
    gap: 5px; 
}

.UserInfoCard-section-third {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.title{
    font-family: "IBMPlexSansKR-Regular";
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 10px;
}

.Hi {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    color: #000000;
}

.User {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    color: #FA812F;
}

.text {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;  
    color: #000000;
}

.UserInfoBox {
    background-color: white;
    padding: 1px 2px;
    border-radius: 5px;
    border: 0.1px solid #D9D9D9;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    color: #000000;
}

/*ScheduleList*/
.ScheduleList-container {
    display: flex;
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    height: auto;
    flex-direction: column;
    box-shadow: 
        -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset,
        1px 1px 10px 5px rgba(0, 0, 0, 0.25) inset;
    max-width: 800px;
    width: 800px;
    margin-left: 10px;
}

.ScheduleList-container-title {
    font-family: "IBMPlexSansKR-Regular";
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 32px;
    padding-left: 20px;
}

.ScheduleList-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 8px 20px;
    flex-wrap: wrap;
}

.Schedule-title {
    flex: 1;
    min-width: 100px;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    color: #000000;
}

.Schedule-date {
    flex: 1.5;
    min-width: 150px;
    width: 50%;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    color:#FA812F;
    text-align: center;
}

.Schedule-Dday {
    flex: 0.5;
    min-width: 40px;
    font-family: "IBMPlexSansKR-Medium";
    font-size: 16px;
    color: #000000;
    text-align: right;
}

/*QuickLinkButton*/
.QuickLinkButton-container {
    display: flex;
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    height: auto;
    flex-direction: column;
    box-shadow: 
        -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset,
        1px 1px 10px 5px rgba(0, 0, 0, 0.25) inset;
    width: 400px;
    margin-right: -10px;
}

.QuickLinkButton-container-title {
    font-family: "IBMPlexSansKR-Regular";
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 32px;
    padding-left: 20px;
}

.QuickLinkButton {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 1.25px 1.25px;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    color: #000000;
    background-color: white;
    border: 0.5px solid #D9D9D9;
    border-radius: 5px;
}

.QuickLinkButton:hover {
    background-color: #0056b3;
    color: white;
}

/*ProgressBar*/
.ProgressBar-container {
    display: flex;
    width: 100%;
    max-width: 490px;
    gap: 20px;
    height: 100%;
    padding: 30px;
    flex-direction: column;
    border-radius: 16px;
    background-color: #FFFBDE;
    box-shadow: 
        -2px -2px 4px 0px rgba(0, 0, 0, 0.25)inset,
        2px 2px 4px 0px rgba(0, 0, 0, 0.25)inset;
}

.ProgressBar-container-title {
    padding-left: 10px;
    font-family: "IBMPlexSansKR-Regular";
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 32px;
    color: #000000;
}

.ProgressBar-container p {
    margin-left: -5px;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    color: #FA812F;
    margin-top: -30px;
}

.ProgressBar-section {
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.CourseHistoryInput-button {
    width:50%;
    padding: 5px 10px;
    margin-left: 120px;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.CourseHistoryInput-button:hover {
    background-color: #0056b3;
    color: white;
}

.CourseInfoBox {
    background-color: white;
    padding: 20px 50px 40px 10px;
    width: 200px;
    height: 120px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.Box-title {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.Box-content {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    color:#FA812F;
}

/*TimetableSummary*/
.TimetableSummary-container {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 630px;
    flex: 0 0 630px;
    min-height: 1000px;
    padding: 38px;
    flex-direction: column;
    border-radius: 16px;
    background-color: #FFFBDE;
    box-shadow: 
        -2px -2px 4px 0px rgba(0, 0, 0, 0.25)inset,
        2px 2px 4px 0px rgba(0, 0, 0, 0.25)inset;
}

.TimetableSummary-container-title {
    font-size: 32px;
    font-family: "IBMPlexSansKR-Regular";
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: -10px;
    color: #000000;
}

.TimetableSummary-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;
}

.TimetableSummary-section-top {
    display: flex;
    margin-bottom: 10px;
    zoom: 0.9;  
    justify-content: center;

}

.TimetableSummary-section-bottom{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.TimetableSummary-section-bottom .dashboard-section{
    width: 370px;
    height: 170px;
}

.TimetableSummary-section-bottom .dashboard-section1{
    display: flex;
    width: 100%;
    height: 45px;
    gap: 20px;
    margin-left: 15px;
}

.TimetableSummary-section-bottom .dashboard-list1{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    font-size: 16px;
    color: #444;
}

.TimetableSummary-section-bottom .dashboardsection-container{
    flex-direction: row;
    width: 640px;
    gap: 20px;
}   

.TimetableSummary-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    z-index: 2
}

.wrapper-label {
    font-family: "IBMPlexSansKR-Bold";
    font-size: 32px;
    color: white;
    margin-top: -320px;
}

.wrapper-descriptor {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    color: white;
}

.wrapper-button {
    position: relative;
    width:50%;
    padding: 5px 10px;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
}

.wrapper-button:hover {
    background-color: #0056b3;
    color: white;
}

/*HomeAfterInput의 자세히 보러가기 버튼*/
.HomeAfterInput-section {
    display: flex;
    margin-left: 270px;
    margin-top: -400px;
}

.ProgressDashboard-Detail-button {
    width: 20%;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    text-align: center;
}

.ProgressDashboard-Detail-button:hover {
    background-color: #0056b3;
}

/* 미디어 쿼리 */
@media (max-width: 1300px) {
    .Home-section {
      flex-direction: column;
    }
  
    .Home-left,
    .Home-right {
      width: 100%;
      max-width: none;
    }

    .ProgressBar-container,
    .TimetableSummary-container {
      width: 100%;
      height: auto;
    }

  }
  