@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('../../public/font/IBMPlexSansKR-Regular.ttf') format('truetype');
}
  
@font-face {
    font-family: 'IBMPlexSansKR-Medium';
    src: url('../../public/font/IBMPlexSansKR-Medium.ttf') format('truetype');
}
  
@font-face {
    font-family: 'IBMPlexSansKR-Bold';
    src: url('../../public/font/IBMPlexSansKR-Bold.ttf') format('truetype');
}

/*UserInfoEditor*/
.UserInfoEditor-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 30px;
    margin: 100px auto 0;
    border-radius: 16px;
    background-color: white;
    box-shadow: 
        -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset,
        2px 2px 4px 0px rgba(0,0,0,0.25) inset;
    flex-wrap: wrap;
    gap: 20px;
}

.UserInfoEditor-section-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.UserInfoEditor-section-first {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
    margin-left: 50px;

}

.UserInfo-School {
    font-family: "IBMPlexSansKR-Bold";
    font-size: 32px;
    color: #000000;
}

.UserInfoEditor-section-second {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
    margin-left: 50px;
}

.UserInfo-Hi {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    color: #000000;
}

.UserInfoEditor-section-second-detail {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.UserInfo-User {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 24px;
    color: #FA812F;
}

.UserInfo-text {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    color: #000000;
}

.UserInfoEditor-section-third {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    margin-left: 50px;
}

.MyPage-UserInfoBox {
    background-color: #FFFBDE;
    padding: 1px 2px;
    border-radius: 5px;
    border: 0.1px solid #D9D9D9;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    color: #000000;
}

.UserInfoEditor-section-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    margin: 130px 50px 0 0;
}

.UserInfoEditor-Logout {
    width: 150px;
    padding: 5px 10px;
    margin-top: -110px;
    font-family: "IBMPlexSansKR-Medium";
    font-size: 24px;
    background-color: white;
    color: #000000;
    border: 0.5px solid #000000;
    border-radius: 8px;
    cursor: pointer;
}

.UserInfoEditor-Leave {
    width:150px;
    padding: 5px 10px;
    font-family: "IBMPlexSansKR-Medium";
    font-size: 24px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/*NotificationManager*/
.NotificationManager-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    padding: 30px;
    margin: 30px auto 0;
    background-color: white;
    box-shadow: 
    -2px -2px 4px 0px rgba(0, 0, 0, 0.25) inset,
    2px 2px 4px 0px rgba(0,0,0,0.25) inset;
    border-radius: 16px;
    margin-bottom: 80px;
}

.NotificationManager-title {
    font-family: "IBMPlexSansKR-Bold";
    font-size: 32px;
    color: #000000;
    margin-left: 20px;
}

.Notification-section {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.Notification-label {
    font-family: "IBMPlexSansKR-Medium";
    font-size: 24px;
    color: #000000;
    margin-top: 5px;
}

.Notification-input {
    border: 0.5px solid #D9D9D9;
    width: 97%;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.graduationtype-button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.graduationtype-button {
    padding: 8px 8px;
    border: 0.2px solid #D9D9D9;
    background-color:rgba(0, 0, 0, 0.05);
    border-radius: 6px 6px 0 0; 
    cursor: pointer;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
}

.graduationtype-button:hover {
    background-color: #007BFF;
    color: white;
}

.graduationtype-button.active {
    background-color: #0056b3;
    color: white;
}

/* 미디어 쿼리 */
@media (max-width: 765px) {
    .UserInfoEditor-section-right {
        display: flex;
        margin: 100px 0 0 10px;
    }
}