@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('../../public/font/IBMPlexSansKR-Regular.ttf') format('truetype');
}
  

.ProgressDashboard-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    background-color: white;
    padding: 16px;
    border-radius: 12px;
}

.ProgressItem-wrapper {
    margin-bottom: 3px;
}

.ProgressItem-title {
    display: flex;
    justify-content: space-between;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    margin-bottom: 4px;
}

.ProgressItem-bar-background {
    height: 8px;
    background-color: #BBBBBB;
}

.ProgressItem-bar-fill {
    height: 100%;
    background-color: #007BFF;
    transition: width 0.3s ease;
}

.ProgressItem-score {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    text-align: right;
    margin-top: 4px;
    color: #000000;
}

.ProgressDashboard-container h1 {
    font-family: "IBMPlexSansKR-Regular";
    font-size: 28px;
    color: #000000;
    
}

.ProgressDashboard-button {
    margin-top: 12px;
    padding: 6px 12px;
    font-family: "IBMPlexSansKR-Regular";
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}